@import "./reset.scss";

$redColor: #ff0000;

@mixin function() {
	background: #eeeeee;
	padding: 20px;
	border-radius: 5px;
	max-width: 500px;
	width: 100%;
	margin: auto;
}

.my-alert {
	@include function();
}

.my-alert2 {
	@extend .my-alert;
	background: #ffe591;
}

.my-alert p {
	margin-bottom: 0;
}
